@import "tailwindcss";

/* clerk user buuton adjust */

.cl-avatarBox{

    width: 2rem;
    height: 2rem;
     
}
input{
    background-color: #ffffff;
    accent-color: red;
    border: 1px solid #ccc;
    color: #333;
}

